/* css reset */
body {
  padding: 0;
  margin: 0;
  background-image: url(./images/battleshipSea.png);
  background-repeat: no-repeat;
  width: 100%;
}

/* battlships styles */

.ship {
  height: 100px;
  width: 350px;
  background-image: url(./images/ship.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation-name: move-ship;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  top: 50%;
  left: 20%;
  opacity: 100%;
}

.torpedo {
  height: 350px;
  width: 250px;
  background-image: url(./images/torpedo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation-name: move-torpedo;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  top: 39%;
  right: 0px;
  opacity: 100%;
}

.explosion {
  height: 800px;
  width: 800px;
  background-image: url(./images/explosion.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation-name: explode;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  top: 0;
  opacity: 0%;
}

.win-text {
  color: white;
  position: absolute;
  animation-name: you-win;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  top: 70%;
  right: 300px;
  opacity: 0%;
}

@keyframes you-win {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes move-ship {
  0% {
    top: 50%;
    left: 0;
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  46% {
    opacity: 0%;
  }
  100% {
    top: 50%;
    left: 10%;
    opacity: 0%;
  }
}

@keyframes move-torpedo {
  0% {
    top: 39%;
    right: 0;
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  46% {
    opacity: 0%;
  }
  100% {
    top: 39%;
    right: 70%;
    opacity: 0%;
  }
}

@keyframes explode {
  0% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  46% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
